
@{
    ViewData["Title"] = "Timesheets";
}

@model List<TimesheetViewModel>
@{
    <h1>Timesheets</h1>

    <hr />
    <div class="row">
        <div class="col-md-2">Id</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-2">Date</div>
        <div class="col-md-2">Project</div>
        <div class="col-md-2">Description of Tasks</div>
        <div class="col-md-2">Hours Worked</div>
    </div>
    <hr />

    @foreach(var timesheet in Model)
    {
        <div class="row">
            <div class="col-md-2">@timesheet.Id</div>
            <div class="col-md-2">@timesheet.Name</div>
            <div class="col-md-2">@timesheet.Date.ToShortDateString()</div>
            <div class="col-md-2">@timesheet.Project</div>
            <div class="col-md-2">@timesheet.DescriptionOfTasks</div>
            <div class="col-md-2">@timesheet.HoursWorked</div>
            <hr />
        </div>
        
    }
    if (Model.Count > 0)
    {
        <button id="downloadCsv" class="btn btn-primary">Download CSV</button>
    }
    
}


@section Scripts {
    <script>
        document.getElementById('downloadCsv').addEventListener('click', function () {
            var timesheets = @Html.Raw(Json.Serialize(Model));
            var csv = 'Id,Name,Date,Project,DescriptionOfTasks,HoursWorked\n';

            timesheets.forEach(function (timesheet) {
                csv += `${timesheet.id},${timesheet.name},${new Date(timesheet.date).toLocaleDateString()},${timesheet.project},${timesheet.descriptionOfTasks},${timesheet.hoursWorked}\n`;
            });

            var blob = new Blob([csv], { type: 'text/csv' });
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.setAttribute('href', url);
            a.setAttribute('download', 'Timesheets.csv');
            a.click();
        });
    </script>
    }
